@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

body{
    font-family:Ubuntu;
    line-height: 1.4;
    background-color: #343644;
    width: 500px;
    margin: auto;
    color:white;
}

