img{
    max-width: 100%;
    display: block;
    height: auto;
    align-items: center;
}
head, p{
  text-align: center
}
body{
    background-color: rgb(0, 0, 0);
}
main{
    align-items: center;
    text-align: center;
    padding: 10px 10px 10px 10px;
}
head, h1, p, footer{
    background-color: rgb(75,75,75);
}
#tribute-info{
    align-items: center;
}
#tribute-info > ul{
  text-align: left;
  list-style-position: inside;
  padding-left: 600px;
}
li{
  text-align: left ;
}
h1{
    color: gold;
    text-align: center;
}
p, #img-caption, #tribute-info, footer{
    color: rgb(104, 8, 8);
}